[project]
	description = Twrp build for SM-C9000 (C9ltechn) China
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/travismills82
[access "refs/for/refs/*"]
	read = group user/travismills82
	push = group user/travismills82
	label-Code-Review = -2..+2 group user/travismills82
	label-Verified = -1..+1 group user/travismills82
	rebase = group user/travismills82
	removeReviewer = group user/travismills82
	submit = group user/travismills82
[access "refs/heads/*"]
	read = group user/travismills82
	create = group user/travismills82
	push = +force group user/travismills82
	pushMerge = group user/travismills82
[access "refs/tags/*"]
	push = group user/travismills82
	push = +force group user/travismills82
